/* #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /* background-color: #50BCDF; */
  width: 550px;
  height: 300px;
  display: flex;
}

.swiper-slide img {
    margin-left: 30px;
    margin-top: 30px;
    display: block;
    width: 200px;
    height: 240px;
}

.swiper-slide:nth-child(1) {
  background-color: #50BCDF;
}
.swiper-slide:nth-child(2) {
  background-color: #81C147;
}
.swiper-slide:nth-child(3) {
  background-color: #0080FF;
}
.swiper-slide:nth-child(4) {
  background-color: #F7E600;
}