.swiper {
  width: 100%;
  padding-top: 16%; 
  padding-bottom: 10%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 36%;
  height: 25%;
  display: flex;
}

.swiper-slide {
  background-color: #ea6aed;
  /* opacity: 0.5; */
}
/* .swiper-slide:nth-child(3n) {
  background-color: #81C147;
}  */
/* .swiper-slide:nth-child(3n) {
  background-color: #0080FF;
}
.swiper-slide:nth-child(4n){
  background-color: #F7E600;
} */

/* .swiper-slide:nth-child(1) {
  background-color: #50BCDF;
}
.swiper-slide:nth-child(2) {
  background-color: #81C147;
} */
/* .swiper-slide:nth-child(3) {
  background-color: #0080FF;
} */
/* .swiper-slide:nth-child(4) {
  background-color: #F7E600;
} */