.swiper {
  width: 100%;
  /* height: 100%; */
  padding-top: 16%; 
  padding-bottom: 10%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 25%;
  display: flex;
  /* border-radius: 20%; */
  background-color: transparent;
  opacity: 1;
}

